.DS_Store

# Node / Next
node_modules/
.next/
out/
dist/
*.tsbuildinfo

# Java / Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.terraform.lock.hcl
